.title {
    font-family: 'Press Start 2P', cursive;
}

.box.has-border {
    border: 2px solid black;
  }

  ul > li {
    display: inline-block;
    margin: 5px;
}

body {
  /* background-image: url("https://w.wallhaven.cc/full/ey/wallhaven-ey8m5r.jpg"); */
  background-image: url("https://w.wallhaven.cc/full/k7/wallhaven-k7q9l6.png");
  background-repeat: repeat;
}
