.title {
  font-family: 'Press Start 2P', cursive;
}
.text {
  font-family: 'VT323', monospace;
  font-size: 20px;
}
.description{
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.box.has-border {
  border: 2px solid black;
}

ul > li {
  display: inline-block;
  margin: 5px;
}

body {
/* background-image: url("https://w.wallhaven.cc/full/ey/wallhaven-ey8m5r.jpg"); */
background-image: url("https://w.wallhaven.cc/full/k7/wallhaven-k7q9l6.png");
background-repeat: repeat;
background-position: -150px 0;
}

.triviaBox {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
background-color: rgba(255, 255, 255, 60%);
}


#recentSearchesList button {
margin: 5px;
}

#pokeimg {
height:100%;
width:100%;
}

.has-red-border {
  border: 1px solid rgb(245, 108, 108);
}